.p-datatable {
    width: 100%;
}
.p-datatable .p-datatable-thead > tr > th {
    font-size: 16px;
    font-family: source sans pro semibold;
    text-align: left;
    padding: 1rem 1rem;
    border: none;
    border-width: 0 0 1px 0;
    font-weight: 500;
    color: #343a40;
    background: white;
    transition: box-shadow 0.2s;
}